<div class="col-6">
    <br>
    <h1>Enquiry <span class="one">Details</span>    !</h1>
    <hr style="height:4px;border-width:0;color:green;background-color:green">
    <br>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Phone no</td>
        <td>Message</td>
        <td>Update</td>

    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of enquiries">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.message}}</td>
        <td><button (click)="edit(item)"   class="btn btn-light"><strong>EDIT</strong></button></td>

    </tr>
</tbody>
</table>
</div>
